<div id="myContainer">
			<div id="view-tracks" class="slide-up">
			  <a href="#tracks" id="three">Tracks<br /><i class="fa fa-angle-double-down fa-3"></i></a>
	    </div>

	<div class="left">
		<div class="section" id="left1">
			<h1></h1>
		</div>

		<div class="section" id="left2">
			<h1></h1>
		</div>

	</div>
	
	<div class="right">
		<div class="section" id="right1">
			<h1></h1>
		</div>

		<div class="section" id="right2">
      <iframe width="100%" height="166" id="track-one" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/91628089&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		</div>

	</div>	
</div>
