<div class="row social">
<div class="large-4 medium-4 small-4 columns center">
<a class="item" href="https://www.facebook.com/pages/Novus/155088987905457?fref=ts" target="_blank"> 
<i class="fa fa-facebook"></i>
</a> 
</div>
<div class="large-4 medium-4 small-4 columns center middle">
<a class="item" href="https://soundcloud.com/official_novus" target="_blank"> 
<i class="fa fa-soundcloud"></i>
</a> 
</div>
<div class="large-4 medium-4 small-4 columns center">
<a class="item" href="https://twitter.com/official_novus" target="_blank"> 
<i class="fa fa-twitter"></i>
</a> 
</div>
