<div id="social-icons" class="social-icons">
<a href="https://www.facebook.com/pages/Novus/155088987905457?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
<a href="https://soundcloud.com/official_novus" target="_blank"><i class="fa fa-soundcloud"></i></a>
<a href="https://twitter.com/official_novus" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
 
